<section
  id="projects-section"
  [aria-label]="'home.projects.meta.ariaLabel' | translate"
>
  <h2 class="title">
    {{ 'home.projects.title' | translate }}
  </h2>

  <h3 class="subtitle">
    {{ 'home.projects.subtitle' | translate }}
  </h3>

  <div class="projects">
    @for (project of projects(); track $index) {
      <app-project [data]="project"/>
    }
  </div>

  <div class="projects-footer">
    <p class="projects-footer__know-more">
      <strong> {{ 'home.projects.footer.convince.arent' | translate }} </strong> <br>
      {{ 'home.projects.footer.convince.noWay' | translate }} <br>
    </p>

    <app-anchor
      [ariaLabel]="'home.projects.footer.sendMessageCTA.ariaLabel' | translate"
      [content]="'home.projects.footer.sendMessageCTA.content' | translate"
      [title]="'home.projects.footer.sendMessageCTA.title' | translate"
      href="#contact-section"
      variant="button-secondary"
      size="large"
    />
  </div>
</section>
