<section
  id="projects-section"
  [aria-label]="'home.projects.meta.ariaLabel' | translate"
>
  <h2 class="title">
    {{ 'home.projects.title' | translate }}
  </h2>

  <h3 class="subtitle">
    {{ 'home.projects.subtitle' | translate }}
  </h3>

  <div class="projects">
    @for (project of projects(); track $index) {
      <app-project
        [class.is-odd]="$odd"
        [data]="project"
        (imageClicked)="showGallery($event)"
      />
    }
  </div>

  <div class="projects-footer">
    <p class="h2">
      {{ 'home.projects.footer.knowMore.more.iHave' | translate }}
      <strong> {{ 'home.projects.footer.knowMore.more.several' | translate }} </strong> <br>
      {{ 'home.projects.footer.knowMore.send.want' | translate }}
      <strong> {{ 'home.projects.footer.knowMore.send.know' | translate }} </strong>
    </p>

    <app-anchor
      [ariaLabel]="'home.projects.footer.sendMessageCTA.ariaLabel' | translate"
      [content]="'home.projects.footer.sendMessageCTA.content' | translate"
      [title]="'home.projects.footer.sendMessageCTA.title' | translate"
      href="#contact-section"
      variant="button-secondary"
      size="large"
    />
  </div>
</section>

@if (image()) {
  <app-image-gallery />
}
