@use 'mixins/background-pattern' as bgPatterns;
@use 'tokens/breakpoints' as breakpoints;

:host {
  display: block;
  @include bgPatterns.background-pattern-dark;
}

section {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--space-section-vertical) var(--space-section-horizontal);
  color: var(--color-primary);
}

.title {
  font-size: var(--text-3xl);
  letter-spacing: 1px;
}

.subtitle {
  margin-top: 8px;
  font-size: var(--text-lg);
  font-weight: var(--font-weight-regular);
  margin-bottom: 48px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(4, auto);
  gap: 15px;
  margin-bottom: 32px;
}

.projects-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  &__know-more {
    font-size: var(--text-lg);
    text-align: center;
    line-height: 32px;
  }

  app-anchor {
    width: 100%;
    max-width: 300px;
  }
}

.h2 {
  margin: 20px 0 10px;
  font-size: var(--text-2xl);
  text-align: center;
  max-width: 450px;
  align-self: center;

  span {
    text-decoration: underline;
  }
}

@media screen and (width > breakpoints.$bp-md) {
  section {
    max-width: 920px;
  }

  .title {
    font-size: var(--text-4xl);
  }
}
