@use 'mixins/background-pattern' as bgPatterns;

:host {
  display: block;
  @include bgPatterns.background-pattern-dark;
}

section {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--space-section-sm) var(--space-section-sm) 50px;
  color: var(--color-primary);
}

.title {
  font-size: var(--font-size-title);
  letter-spacing: 1px;
}

.subtitle {
  margin-top: 8px;
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-regular);
  margin-bottom: 48px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 35px 0;
  margin-bottom: 32px;
}

.projects-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  &__know-more {
    font-size: 1.8rem;
    text-align: center;
    line-height: 32px;
  }
}
