.app-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  max-height: 50px;
  width: 100%;
  font-weight: bold;
  font-size: var(--font-size-button);
  color: var(--color-text-light);
  background: var(--color-button);
  box-shadow: 4px 6px 4px rgba(0 0 0 / .25);
  border: none;
  border-radius: var(--border-radius);
  transition: all .2s;
  cursor: pointer;

  &:active {
    box-shadow: 0 0 0;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-button-hover);
    }
  }

  &--secondary {
    background-color: var(--color-button-secondary);
    color: var(--color-button);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--color-button-secondary-hover);
      }
    }
  }
}
