.app-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
  padding: 15px;
  height: 35px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-sm);
  color: var(--color-primary);
  background: var(--color-secondary);
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: var(--border-radius);
  transition: all .2s;
  cursor: pointer;

  &:active {
    box-shadow: 0 0 0;
    transform: translateY(2px);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-secondary-hover);
    }
  }

  &--secondary {
    border: 1px solid;
    background-color: var(--color-primary);
    color: var(--color-secondary);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--color-primary-hover);
      }
    }
  }

  &--large {
    padding: 25px 15px;
    font-size: var(--text-base);
  }

  &__content {
    line-height: 14px;
    font-weight: var(--font-weight-medium);
  }

  &::ng-deep {
    [ButtonLeadingIcon],
    [ButtonTrailingIcon] {
      width: 20px;
      height: 20px;
    }
  }
}
