.app-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
  padding: 15px;
  height: 35px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-sm);
  color: var(--color-text-primary);
  background-color: var(--color-cta-bg-primary);
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: var(--border-radius);
  transition: all .2s;
  cursor: pointer;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.8;
    }
  }

  &:active {
    box-shadow: 0 0 0;
    transform: translateY(2px);
  }

  &--secondary {
    border: 1px solid;
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
  }

  &--large {
    padding: 25px 15px;
    font-size: var(--text-base);
  }

  &--icon-flat {
    width: 100%;
    height: 100%;
    padding: 0px;
    gap: 0;
    background-color: unset;
    box-shadow: none;
    color: var(--color-text-general);
  }

  &__content {
    line-height: 14px;
    font-weight: var(--font-weight-medium);
  }

  &::ng-deep {
    [ButtonLeadingIcon],
    [ButtonTrailingIcon] {
      width: 20px;
      height: 20px;
    }
  }
}
