@use 'mixins/background-patterns' as bgPatterns;
@use 'tokens/breakpoints' as breakpoints;

:host {
  display: block;
  @include bgPatterns.background-pattern-light;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--space-section-vertical) var(--space-section-horizontal);
  color: var(--color-text-general);
}

.paragraph {
  margin-top: 28px;
  font-size: var(--text-lg);
  line-height: 26px;
  margin-bottom: 20px;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: var(--text-3xl);
    letter-spacing: 1px;
    line-height: 20px;
  }

  &__cta {
    display: block;
    width: 30px;
    height: 30px;
  }
}

@media screen and (width > breakpoints.$bp-md) {
  section {
    max-width: 920px;
  }

  .resume-header {
    &__title {
      font-size: var(--text-4xl);
    }
  }
}
