@import 'mixins/background-pattern';

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--space-section-sm);
  background-color: var(--color-section-primary);

  @include background-pattern-light;
}

.paragraph {
  margin-top: 28px;
  font-size: var(--font-size-paragraph);
  line-height: 26px;
  color: var(--color-text-dark);
  margin-bottom: 20px;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: var(--color-text-dark);
    font-size: var(--font-size-title);
    letter-spacing: 1px;
    line-height: 20px;
  }

  &__cta {
    display: block;
    width: 30px;
    height: 30px;
  }
}
