<section
  id="resume-section"
  [aria-label]="'home.resume.meta.ariaLabel' | translate"
>
  <div class="resume-header">
    <h2 class="resume-header__title">
      {{ 'home.resume.title' | translate }}
    </h2>


    @if (haveTranslationsBeenLoaded()) {
      <app-anchor
        class="resume-header__cta"
        [title]="'home.resume.downloadResumeCta.title' | translate"
        [ariaLabel]="'home.resume.downloadResumeCta.ariaLabel' | translate",
        variant="icon"
        href="/docs/caio-chiquetto-resume.pdf"
        content=""
        download
      >
        <app-icon
          AnchorTrailingIcon
          name="phosphorFileArrowDown"
          [ariaLabel]="'home.resume.downloadResumeCta.iconAriaLabel' | translate"
        />
      </app-anchor>
    }
  </div>

  <p class="paragraph">
    {{ 'home.resume.paragraph' | translate }}
  </p>

  @if (haveTranslationsBeenLoaded()) {
    <app-resume-section
      isEducation
      [sectionIcon]="educationSectionIcon()!"
      [items]="educationSectionContent()!"
      [sectionTitle]="'home.resume.education.title' | translate"
    />

    <app-resume-section
      [sectionIcon]="careerSectionIcon()!"
      [items]="careerSectionContent()!"
      [sectionTitle]="'home.resume.career.title' | translate"
    />
  }
</section>
