section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--space-section-sm);
}

.title {
  color: var(--color-text-dark);
  font-size: var(--font-size-title);
  letter-spacing: 1px;
}

.paragraph {
  margin-top: 28px;
  font-size: var(--font-size-paragraph);
  line-height: 26px;
  color: var(--color-text-dark);
  margin-bottom: 54px;
}
