@use 'mixins/background-pattern' as bgPatterns;

:host {
  display: block;
  @include bgPatterns.background-pattern-light;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--space-section-vertical) var(--space-section-horizontal);
  color: var(--color-black);
}

.paragraph {
  margin-top: 28px;
  font-size: var(--font-size-paragraph);
  line-height: 26px;
  margin-bottom: 20px;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: var(--font-size-title);
    letter-spacing: 1px;
    line-height: 20px;
  }

  &__cta {
    display: block;
    width: 30px;
    height: 30px;
  }
}
