.nav-menu {
  position: fixed;
  top: 30px;
  left: 50%;
  margin-left: -150px;
  transform: translateY(0);
  width: 100%;
  max-width: 300px;
  height: 50px;
  background: var(--color-menu-bg);
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0px 2px 8px 2px rgba(0 0 0 / 0.25);
  z-index: 1;
  transition: transform 1s cubic-bezier(.4,-0.21,.49,.97);
  will-change: transform;

  &--bottom {
    transform: translateY(calc(100dvh - 100px));
  }
}

.nav-menu-links {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: var(--color-black);

      app-icon {
        width: 24px;
        height: 24px;
      }
    }

    &--active {
      background: var(--color-menu-active-bg);

      a {
        color: var(--color-menu-active-link);
      }
    }
  }

  &__button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;

    button {
      border: none;
      width: 24px;
      height: 24px;
      background: none;
      padding: 2px 5px 0 0;
    }
  }
}
