<nav
  class="nav-menu"
  [aria-label]="'navMenu.aria' | translate"
  [class.nav-menu--bottom]="navBottom()"
>
  <ul
    class="nav-menu-links"
    [class.nav-menu-links--is-mobile]="isMobile()"
  >
    <li
      class="nav-menu-links__link tooltip"
      [class.nav-menu-links__link--active]="activeLink() === 'hero'"
      [attr.data-tooltip]="'navMenu.linksAria.hero' | translate"
    >
      <a
        href="#hero-section"
        (click)="activateLink('hero')"
        (keydown.space)="onSpace($event, 'hero')"
        [aria-label]="'navMenu.linksAria.hero' | translate"
      >
        <app-icon
          name="phosphorHouse"
          [ariaLabel]="'navMenu.linksAria.hero' | translate"
        />
      </a>
    </li>

    <li
      class="nav-menu-links__link tooltip"
      [class.nav-menu-links__link--active]="activeLink() === 'about'"
      [attr.data-tooltip]="'navMenu.linksAria.about' | translate"
    >
      <a
        href="#about-section"
        (click)="activateLink('about')"
        (keydown.space)="onSpace($event, 'about')"
        [aria-label]="'navMenu.linksAria.about' | translate"
      >
        <app-icon
          name="phosphorUser"
          [ariaLabel]="'navMenu.linksAria.about' | translate"
        />
      </a>
    </li>

    <li
      class="nav-menu-links__link tooltip"
      [class.nav-menu-links__link--active]="activeLink() === 'resume'"
      [attr.data-tooltip]="'navMenu.linksAria.resume' | translate"
    >
      <a
        href="#resume-section"
        (click)="activateLink('resume')"
        (keydown.space)="onSpace($event, 'resume')"
        [aria-label]="'navMenu.linksAria.resume' | translate"
        >
        <app-icon
          name="phosphorCertificate"
          [ariaLabel]="'navMenu.linksAria.resume' | translate"
        />
      </a>
    </li>

    <li
      class="nav-menu-links__link tooltip"
      [class.nav-menu-links__link--active]="activeLink() === 'projects'"
      [attr.data-tooltip]="'navMenu.linksAria.projects' | translate"
    >
      <a
        href="#projects-section"
        (click)="activateLink('projects')"
        (keydown.space)="onSpace($event, 'projects')"
        [aria-label]="'navMenu.linksAria.projects' | translate"
      >
        <app-icon
          name="phosphorCode"
          [ariaLabel]="'navMenu.linksAria.projects' | translate"
        />
      </a>
    </li>

    <li
      class="nav-menu-links__link tooltip"
      [class.nav-menu-links__link--active]="activeLink() === 'contact'"
      [attr.data-tooltip]="'navMenu.linksAria.contact' | translate"
    >
      <a
        href="#contact-section"
        (click)="activateLink('contact')"
        (keydown.space)="onSpace($event, 'contact')"
        [aria-label]="'navMenu.linksAria.contact' | translate"
      >
        <app-icon
          name="phosphorEnvelopeSimple"
          [ariaLabel]="'navMenu.linksAria.contact' | translate"
        />
      </a>
    </li>

    <li
      class="nav-menu-links__button tooltip"
      [attr.data-tooltip]="'navMenu.linksAria.theme' | translate: {
        status: isDarkThemeActive()
          ? ('common.others.disable' | translate)
          : 'common.others.enable' | translate
        }"
    >
      <button
        (click)="switchTheme()"
        [aria-label]="'navMenu.linksAria.theme' | translate"
      >
        <app-icon
          [name]="
            isDarkThemeActive()
              ? 'phosphorMoonStars'
              : 'phosphorSunHorizon'
            "
          [ariaLabel]="'navMenu.linksAria.theme' | translate"
        />
      </button>
    </li>

    <li
      class="nav-menu-links__button tooltip"
      [attr.data-tooltip]="'navMenu.linksAria.language' | translate"
    >
      <button
        (click)="switchLanguage()"
        [aria-label]="'navMenu.linksAria.language' | translate"
      >
        <app-icon
          [name]="currentLanguage() === 'pt-br'
            ? 'flagBr'
            : 'flagUs'"
          [ariaLabel]="'navMenu.linksAria.language' | translate"
        />
      </button>
    </li>
  </ul>
</nav>
