.nav-menu {
  position: fixed;
  top: 30px;
  left: 50%;
  margin-left: -150px;
  transform: translateY(0);
  width: 100%;
  max-width: 300px;
  height: 50px;
  background: var(--color-primary);
  border-radius: 50px;
  box-shadow: 0px 2px 8px 2px rgba(0 0 0 / 0.25);
  z-index: 1;
  transition: transform .5s cubic-bezier(.4,-0.21,.49,.97);
}

.nav-menu-links {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
  border-radius: 50px;

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;

    &:first-child {
      border-radius: 25px 0 0 25px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: var(--color-black);

      app-icon {
        width: 24px;
        height: 24px;
      }
    }

    &--active {
      background: var(--color-secondary);

      a {
        color: var(--color-primary);
      }
    }

    /* Checking for hover and taking into consideration touchscreen laptops */
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--color-secondary);

        a {
          color: var(--color-primary);
        }
      }
    }
  }

  &__button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-radius: 0 25px 25px 0;
    cursor: pointer;

    button {
      border: none;
      width: 100%;
      height: 100%;
      background: none;
      padding: 15px 18px 15px 13px;
      cursor: pointer;
    }


    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--color-secondary);

        button {
          color: var(--color-primary);
        }
      }
    }
  }

  &--is-mobile {
    .tooltip {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.nav-menu--bottom {
  transform: translateY(calc(100dvh - 100px));

  .tooltip {
    &::before {
      top: -45px;
    }

    &::after {
      top: -18px;
      rotate: 180deg;
    }
  }
}

.tooltip {
  position: relative;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &::before,
      &::after {
        opacity: 1;
      }
    }
  }

  &::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 65px;
    padding: 6px 12px;
    background: var(--color-secondary);
    color: var(--color-primary);
    font-size: var(--text-base);
    font-weight: 500;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    font-family: var(--font-family);
    text-align: center;
    width: max-content;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50px;
    border: 10px solid var(--color-secondary);
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    pointer-events: none;
    opacity: 0;
    font-family: var(--font-family);
  }
}
