.nav-menu {
  position: fixed;
  top: 30px;
  left: 50%;
  margin-left: -160px;
  transform: translateY(0);
  width: 100%;
  max-width: 320px;
  height: 50px;
  background-color: var(--color-primary);
  border-radius: 50px;
  box-shadow: 0px 2px 8px 2px rgba(0 0 0 / 0.25);
  z-index: 1;
  transition: transform .5s cubic-bezier(.4,-0.21,.49,.97);
}

.nav-menu-links {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
  border-radius: 50px;

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: var(--color-primary);

    &:first-child {
      border-radius: 25px 0 0 25px;
      padding-left: 6px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: var(--color-text-general);

      app-icon {
        width: 24px;
        height: 24px;
      }
    }

    &--active {
      background: var(--color-details-bg);

      a {
        color: var(--color-text-primary);
      }
    }

    /* Checking for hover and taking into consideration touchscreen laptops */
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--color-details-bg);

        a {
          color: var(--color-text-primary);
        }
      }
    }
  }

  &__button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    cursor: pointer;
    background: var(--color-primary);

    button {
      border: none;
      width: 100%;
      height: 100%;
      background: none;
      padding: 10px;
      cursor: pointer;
      color: var(--color-text-general);
    }

    &:last-child {
      border-radius: 0 25px 25px 0;
      padding: 8px 8px 9px 0px;
    }


    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--color-details-bg);

        button {
          color: var(--color-text-primary);
        }
      }
    }
  }

  &__divider {
    width: 2px;
    height: 35px;
    align-self: center;
    border-radius: 4px;
    margin: 0 5px;
    background: var(--color-details-bg);
  }

  &--is-mobile {
    .tooltip {
      &::before {
        display: none;
      }
    }
  }
}

.nav-menu--bottom {
  transform: translateY(calc(100dvh - 100px));

  .tooltip {
    &::before {
      top: -35px;
    }
  }
}

.tooltip {
  position: relative;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &::before {
        top: 55px;
        opacity: 1;
      }
    }
  }

  &:has(a:focus),
  &:has(button:focus-visible)  {
    &::before {
      top: 55px;
      opacity: 1;
    }
  }

  &::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 40px;
    padding: 6px 12px;
    background-color: var(--color-details-bg);
    color: var(--color-text-primary);
    border: 1px solid hsl(from var(--color-details-bg) h s calc(l - 10) / 1);
    font-size: var(--text-xs);
    font-weight: 500;
    border-radius: 4px;
    pointer-events: none;
    font-family: var(--font-family);
    text-align: center;
    width: max-content;
    opacity: 0;
    transition: top .1s, opacity .1s;
    z-index: -1;
  }
}
