<form
  class="contact-form"
  [formGroup]="contactForm"
  (ngSubmit)="submit()"
>
  @let fullNameLabel = 'home.contact.form.fields.fullName.label' | translate;
  <app-input
    formControlName="fullName"
    id="full-name"
    [label]="'home.contact.form.fields.fullName.label' | translate"
    [errorMessages]="{
      required: 'home.contact.form.errors.required' | translate: { field: fullNameLabel },
      pattern: LAST_NAME_REGEXP.test(contactForm.value.fullName ?? '')
        ? ('home.contact.form.errors.name' | translate: { field: fullNameLabel })
        : 'home.contact.form.errors.fullNamePattern' | translate: { field: fullNameLabel },
      minlength: 'home.contact.form.errors.minlength' | translate: { field: fullNameLabel, length: NAME_MIN_LENGTH },
      maxlength: 'home.contact.form.errors.maxlength' | translate: { field: fullNameLabel, length: NAME_MAX_LENGTH },
    }"
  />

  @let emailLabel = 'home.contact.form.fields.email.label' | translate;
  <app-input
    formControlName="email"
    id="email"
    [label]="'home.contact.form.fields.email.label' | translate"
    [errorMessages]="{
      required: 'home.contact.form.errors.required' | translate: { field: emailLabel },
      pattern: 'home.contact.form.errors.pattern' | translate: { field: emailLabel },
    }"
  />

  @let subjectLabel = 'home.contact.form.fields.subject.label' | translate;
  <app-input
    formControlName="subject"
    id="subject"
    [label]="'home.contact.form.fields.subject.label' | translate"
    [errorMessages]="{
      required: 'home.contact.form.errors.required' | translate: { field: subjectLabel },
      minlength: 'home.contact.form.errors.minlength' | translate: { field: subjectLabel, length: SUBJECT_MIN_LENGTH },
      maxlength: 'home.contact.form.errors.maxlength' | translate: { field: subjectLabel, length: SUBJECT_MAX_LENGTH },
    }"
  />

  @let messageLabel = 'home.contact.form.fields.message.label' | translate;
  <app-textarea
    formControlName="message"
    id="message"
    [label]="'home.contact.form.fields.message.label' | translate"
    [errorMessages]="{
      required: 'home.contact.form.errors.required' | translate: { field: messageLabel },
      minlength: 'home.contact.form.errors.minlength' | translate: { field: messageLabel, length: MESSAGE_MIN_LENGTH }
    }"
  />

  <app-button
    class="contact-form__submit"
    [ariaLabel]="'home.contact.form.submitCta.ariaLabel' | translate"
    [content]="'home.contact.form.submitCta.content' | translate"
    [title]="'home.contact.form.submitCta.title' | translate"
    size="large"
  />
</form>
