@font-face {
  font-family: Roboto;
  src:
    url('../../public/fonts/roboto-variable.ttf') format('truetype-variations'),
    url('../../public/fonts/roboto-variable.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}
