:root {
  --color-section-primary: #FFF;
  --color-section-secondary: #0799F3;
  --color-text-dark: #213448;
  --color-text-light: #FFF;
  --color-button: #0799F3;
  --color-button-secondary: #FFF;
  --color-button-hover: #078ee2;
  --color-button-secondary-hover: #eeeded;
  --color-resume-icon: #FFF;
  --color-resume-icon-bg: #0799f3;
  --color-gray-light: #F4F8F7;
  --color-gray-medium: #CECECE;
  --color-danger: #FF3C3C;
  --color-input-focused: #0799F3;
  --color-input-success: #18a718;
  --color-black: #000;

  --font-family: Roboto, sans-serif;
  --font-size-paragraph: 1.6rem;
  --font-size-title: 2.6rem;
  --font-size-button: 1.6rem;
  --font-size-xxl: 5.2rem;
  --font-weight-bold: 900;
  --font-weight-semi-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-thin: 200;

  --border-radius: 4px;

  --space-section-sm: 3rem;
}
