:root {
  --color-primary: #f8f9fa;
  --color-primary-hover: hsl(from var(--color-primary) h s calc(l - 10) / 1);
  --color-secondary: #05668D;
  --color-secondary-hover: hsl(from var(--color-secondary) h s calc(l - 10) / 1);
  --color-white: #FFF;
  --color-danger: #FF3C3C;
  --color-success: #18a718;
  --color-black: #000;

  --color-gray: #ececec;
  --color-gray-medium: #CECECE;

  --font-family: Roboto, sans-serif;
  --font-size-paragraph: 1.8rem;
  --font-size-title: 2.6rem;
  --font-size-button: 1.4rem;
  --font-size-xxl: 5.2rem;
  --font-weight-bold: 900;
  --font-weight-semi-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-thin: 200;

  --border-radius: 4px;

  --space-section-sm: 3rem;
}
