:root {
  --color-section-primary: #FFF;
  --color-section-secondary: #0799F3;
  --color-text-dark: #213448;
  --color-text-light: #FFF;
  --color-button: #0799F3;
  --color-button-secondary: #FFF;
  --color-button-hover: #078ee2;
  --color-button-secondary-hover: #eeeded;
  --color-resume-icon: #FFF;
  --color-resume-icon-bg: #0799f3;
  --color-gray-medium: #CECECE;

  --font-family: Roboto, sans-serif;
  --font-size-paragraph: 1.6rem;
  --font-size-title: 2.6rem;
  --font-size-button: 1.6rem;

  --border-radius: 4px;

  --space-section-sm: 3rem;
}
