:root {
  --color-section-primary: #f8f9fa;
  --color-section-secondary: #05668D;
  --color-text-dark: #213448;
  --color-text-light: #FFF;
  --color-button: #05668D;
  --color-button-secondary: #FFF;
  --color-button-hover: #0886b8;
  --color-button-secondary-hover: #eeeded;
  --color-resume-icon: #FFF;
  --color-resume-icon-bg: #05668D;
  --color-gray-light: #F4F8F7;
  --color-gray-medium: #CECECE;
  --color-danger: #FF3C3C;
  --color-input-bg: #FFFFFF;
  --color-input-focused: #05668D;
  --color-input-success: #18a718;
  --color-black: #000;
  --color-menu-bg: #FFF;
  --color-menu-link: #000;
  --color-menu-active-bg: #05668D;
  --color-menu-active-link: #FFF;

  --font-family: Roboto, sans-serif;
  --font-size-paragraph: 1.8rem;
  --font-size-title: 2.6rem;
  --font-size-button: 1.4rem;
  --font-size-xxl: 5.2rem;
  --font-weight-bold: 900;
  --font-weight-semi-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-thin: 200;

  --border-radius: 4px;

  --space-section-sm: 3rem;
}
