.form-control {
  position: relative;
  display: flex;
  flex-direction: column;

  &__label {
    position: absolute;
    left: 16px;
    top: 20px;
    font-weight: var(--font-weight-regular);
    font-size: 1.6rem;
    transition: all .2s;
    line-height: 12px;
    pointer-events: none;
  }

  &__input {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: var(--font-weight-regular);
    border: 1px solid var(--color-gray-medium);
    border-radius: var(--border-radius);

    &:focus {
      outline-color: var(--color-secondary);
    }
  }

  &__error {
    font-size: 1.2rem;
    color: var(--color-danger);
    height: 14px;
    margin-top: 2px;
    text-align: right;
    font-weight: var(--font-weight-medium);
    opacity: 0;
    transition: height .1s, opacity .1s;

    &--has-error {
      height: 22px;
      opacity: 1;
    }
  }

  &:has(input:focus) .form-control__label,
  &:has(input:not(:placeholder-shown)) .form-control__label {
    left: 0px;
    top: -15px;
    font-size: 1.4rem;
    font-weight: var(--font-weight-medium);
  }
}

:host {
  &.ng-valid .form-control__input {
    border-color: var(--color-success);
  }

  &.ng-touched.ng-invalid {
    .form-control {
      &:not(:has(:focus)) {
        label {
          color: var(--color-danger);
        }
      }

      &__input {
        border-color: var(--color-danger);
      }
    }
  }
}
