.form-control {
  position: relative;
  display: flex;
  flex-direction: column;

  &__label {
    position: absolute;
    left: 9px;
    top: 21px;
    font-weight: var(--font-weight-regular);
    background: #FFFFFF;
    padding: 0px 6px;
    font-size: 1.6rem;
    transition: all .2s;
    line-height: 12px;
    pointer-events: none;
  }

  &__input {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background-color: transparent;
    color: var(--color-text-dark);
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: var(--font-weight-regular);
    border: 1px solid var(--color-gray-medium);
    border-radius: var(--border-radius);

    &:focus {
      outline-color: var(--color-input-focused);
    }
  }

  &__error {
    font-size: 1.2rem;
    color: var(--color-danger);
    height: 14px;
    margin-top: 2px;
    text-align: right;
    font-weight: var(--font-weight-medium);
  }

  &:has(input:focus-visible) .form-control__label,
  &:has(input:not(:placeholder-shown)) .form-control__label {
    left: 12px;
    top: -6px;
    font-size: 1.4rem;
    font-weight: var(--font-weight-medium);
  }
}

:host {
  &.ng-valid .form-control__input {
    border-color: var(--color-input-success);
  }

  &.ng-touched.ng-invalid {
    .form-control {
      &:not(:has(:focus)) {
        label {
          color: var(--color-danger);
        }
      }

      &__input {
        border-color: var(--color-danger);
      }
    }
  }
}
