:root {
  --color-primary: #f8f9fa;
  --color-primary-hover: hsl(from var(--color-primary) h s calc(l - 10) / 1);
  --color-secondary: #05668D;
  --color-secondary-hover: hsl(from var(--color-secondary) h s calc(l - 10) / 1);
  --color-white: #FFF;
  --color-danger: #FF3C3C;
  --color-success: #18a718;
  --color-black: #000;
  --color-gray: #ececec;
  --color-gray-medium: #CECECE;
}
