:root {
  --font-family: Roboto, sans-serif;
  --font-size-paragraph: 1.8rem;
  --font-size-title: 2.6rem;
  --font-size-button: 1.4rem;
  --font-size-button-large: 1.6rem;
  --font-size-xxl: 5.2rem;

  --font-weight-bold: 900;
  --font-weight-semi-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-thin: 200;
}
