@use 'mixins/background-pattern' as bgPatterns;
@use 'tokens/breakpoints' as breakpoints;

:host {
  display: block;
  @include bgPatterns.background-pattern-dark;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--space-section-vertical) var(--space-section-horizontal);
  color: var(--color-primary);
}

.title {
  font-size: var(--font-size-title);
  margin-bottom: 26px;
}

.paragraph {
  font-size: var(--font-size-paragraph);
  line-height: 30px;
  margin-bottom: 20px;
}

.h2 {
  margin: 20px 0 30px;
  font-size: var(--font-size-title);
  text-align: center;
  max-width: 300px;
  align-self: center;

  span {
    text-decoration: underline;
  }
}

.not-convinced {
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}

.check-resume-cta {
  align-self: center;
  margin-top: 30px;
}

@media screen and (width > breakpoints.$bp-md) {
  section {
    max-width: 920px;
  }
}
