@use 'mixins/background-patterns' as bgPatterns;
@use 'tokens/breakpoints' as breakpoints;

:host {
  display: block;
  @include bgPatterns.background-pattern-dark;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--space-section-vertical) var(--space-section-horizontal);
  color: var(--color-text-primary);
}

.title {
  font-size: var(--text-3xl);
  margin-bottom: 26px;
}

.paragraph {
  font-size: var(--text-lg);
  line-height: 30px;
  margin-bottom: 20px;

  ul {
    padding: 0 20px;
  }
}

.h2 {
  margin: 20px 0 10px;
  font-size: var(--text-2xl);
  text-align: center;
  max-width: 320px;
  align-self: center;

  span {
    text-decoration: underline;
  }
}

.not-convinced {
  font-size: var(--text-lg);
  text-align: center;
  line-height: 26px;
}

.check-resume-cta {
  align-self: center;
  margin-top: 30px;
}

app-anchor {
  width: 100%;
  max-width: 300px;
}

@media screen and (width > breakpoints.$bp-md) {
  section {
    max-width: 920px;
  }

  .title {
    font-size: var(--text-4xl);
  }
}
