<section
  id="about-section"
  [aria-label]="'home.about.meta.ariaLabel' | translate"
>
  <h2 class="title">
    {{ 'home.about.title' | translate }}
  </h2>

  <p class="paragraph">
    {{ 'home.about.summary.p1.hey' | translate }}
    <strong> {{ 'home.about.summary.p1.caio' | translate }} </strong>
    {{ 'home.about.summary.p1.and' | translate }}
    <strong> {{ 'home.about.summary.p1.front' | translate }} </strong>
    {{ 'home.about.summary.p1.passionate' | translate }}
    <strong> {{ 'home.about.summary.p1.clean' | translate }} </strong>
  </p>

  <p class="paragraph">
    {{ 'home.about.summary.p2.asA' | translate }}
    <strong> {{ 'home.about.summary.p2.engineer' | translate }} </strong>
    {{ 'home.about.summary.p2.iCan' | translate }}
  </p>

  <p class="paragraph">
    {{ 'home.about.summary.p3.jokes' | translate }}
    <strong> {{ 'home.about.summary.p3.8Years' | translate }} </strong>
    {{ 'home.about.summary.p3.strong' | translate }}
    <strong> {{ 'home.about.summary.p3.proven' | translate }} </strong>
    {{ 'home.about.summary.p3.respecting' | translate }}
  </p>

  <p class="paragraph">
    {{ 'home.about.summary.p4.weAll' | translate }}
    <strong> {{ 'home.about.summary.p4.delightful' | translate }} </strong>
    {{ 'home.about.summary.p4.causes' | translate }}
    <strong> {{ 'home.about.summary.p4.tip' | translate }} </strong>
    {{ 'home.about.summary.p4.under' | translate }}
    <strong> {{ 'home.about.summary.p4.happening' | translate }} </strong>
    {{ 'home.about.summary.p4.toProvide' | translate }}
    <strong> {{ 'home.about.summary.p4.worryAbout' | translate }} </strong>
    {{ 'home.about.summary.p4.upToYou' | translate }}
  </p>

  <p class="paragraph">
    {{ 'home.about.summary.p5.ifYouAre' | translate }}
    <strong> {{ 'home.about.summary.p5.weAreGoingTo' | translate }} </strong>
    {{ 'home.about.summary.p5.andKeep' | translate }}
    <strong> {{ 'home.about.summary.p5.reliable' | translate }} </strong>
  </p>

  <p class="paragraph">
    {{ 'home.about.summary.p6.consequence' | translate }}
    <strong> {{ 'home.about.summary.p6.maintainability' | translate }} </strong>
    {{ 'home.about.summary.p6.whichMeans' | translate }}
    <strong> {{ 'home.about.summary.p6.lessChances' | translate }} </strong>
  </p>

  <p class="h2">
    {{ 'home.about.summary.tellMeNow.tellMe' | translate }}

    <strong>
      {{ 'home.about.summary.tellMeNow.haveYou' | translate }}

      <span>{{ 'home.about.summary.tellMeNow.engineer' | translate }}</span>
    </strong>

    {{ 'home.about.summary.tellMeNow.now' | translate }}
  </p>

  <p class="not-convinced">
    {{ 'home.about.summary.notConvinced.still' | translate }} <br>
    {{ 'home.about.summary.notConvinced.tough' | translate }} <br>
  </p>

  <app-anchor
    class="check-resume-cta"
    [ariaLabel]="'home.about.summary.resumeCta.ariaLabel' | translate"
    [content]="'home.about.summary.resumeCta.content' | translate"
    href="#resume-section"
    [title]="'home.about.summary.resumeCta.title' | translate"
    variant="button-secondary"
  />
</section>
