<section
  id="about-section"
  [aria-label]="'home.about.meta.ariaLabel' | translate"
>
  <h2 class="title">
    {{ 'home.about.title' | translate }}
  </h2>

  <p class="paragraph">
    {{ 'home.about.summary.p1.front' | translate }}
    <strong> {{ 'home.about.summary.p1.8Years' | translate }} </strong>
    {{ 'home.about.summary.p1.of' | translate }}
    <strong> {{ 'home.about.summary.p1.scalable' | translate }} </strong>
    {{ 'home.about.summary.p1.web' | translate }}
    <strong> {{ 'home.about.summary.p1.angular' | translate }} </strong>
    {{ 'home.about.summary.p1.for' | translate }}
  </p>

  <div class="paragraph">
    {{ 'home.about.summary.p2.whatIFocus' | translate }}

    <ul class="focus">
      <li>
        <strong> {{ 'home.about.summary.p2.bullet1.begin' | translate }} </strong>
        {{ 'home.about.summary.p2.bullet1.end' | translate }}
      </li>

      <li>
        <strong> {{ 'home.about.summary.p2.bullet2.begin' | translate }} </strong>
        {{ 'home.about.summary.p2.bullet2.end' | translate }}
      </li>

      <li>
        <strong> {{ 'home.about.summary.p2.bullet3.begin' | translate }} </strong>
        {{ 'home.about.summary.p2.bullet3.end' | translate }}
      </li>

      <li>
        <strong> {{ 'home.about.summary.p2.bullet4.begin' | translate }} </strong>
        {{ 'home.about.summary.p2.bullet4.end' | translate }}
      </li>
    </ul>
  </div>

  <p class="paragraph">
    {{ 'home.about.summary.p3.goal' | translate }}
    <strong> {{ 'home.about.summary.p3.help' | translate }} </strong>
    {{ 'home.about.summary.p3.reduce' | translate }}
    <strong> {{ 'home.about.summary.p3.deliver' | translate }} </strong>
  </p>

  <p class="paragraph">
    {{ 'home.about.summary.p4.iCare' | translate }}
    <strong> {{ 'home.about.summary.p4.code' | translate }} </strong>
    {{ 'home.about.summary.p4.like' | translate }}
  </p>

  <p class="h2">
    {{ 'home.about.summary.sounds.good' | translate }}
    <strong> {{ 'home.about.summary.sounds.lets' | translate }} </strong>
  </p>

  <app-anchor
    class="check-resume-cta"
    [ariaLabel]="'home.about.summary.resumeCta.ariaLabel' | translate"
    [content]="'home.about.summary.resumeCta.content' | translate"
    href="#resume-section"
    [title]="'home.about.summary.resumeCta.title' | translate"
    variant="button-secondary"
    size="large"
  />
</section>
