section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--space-section-sm);
  background: var(--color-section-secondary);
  color: var(--color-text-light);
}

.title {
  font-size: var(--font-size-title);
  margin-bottom: 26px;
}

.paragraph {
  font-size: var(--font-size-paragraph);
  line-height: 26px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px 0;
  margin-top: 60px;

  .badge {
    display: flex;
    flex-direction: column;
    width: 100px;
    font-size: 1.4rem;
    text-align: center;

    strong {
      font-size: 4.8rem;
    }
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  gap: 30px 0;

  &__image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #FFFFFF;
  }

  &__title {
    font-size: var(--font-size-title);
    font-weight: 400;
    text-align: center;

    .block {
      display: block;
    }
  }

  &__paragraph {
    font-size: 1.6rem;
    text-align: center;
    line-height: 20px;
  }
}
