@use 'mixins/background-pattern' as *;

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--space-section-sm) var(--space-section-sm) 50px;
  background: var(--color-secondary);
  color: var(--color-primary);

  @include background-pattern-dark;
}

.title {
  font-size: var(--font-size-title);
  margin-bottom: 26px;
}

.paragraph {
  font-size: var(--font-size-paragraph);
  line-height: 30px;
  margin-bottom: 20px;
}

.h2 {
  margin: 20px 0 30px;
  font-size: var(--font-size-title);
  text-align: center;

  span {
    text-decoration: underline;
  }
}

.not-convinced {
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}

.check-resume-cta {
  align-self: center;
  margin-top: 30px;
}
