@use 'tokens/breakpoints' as breakpoints;

.project {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  line-height: 2rem;
  padding: 20px;
  border-radius: 8px;
  color: var(--color-white);
  background: hsl(from var(--color-secondary) h s l / 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid hsl(from var(--color-secondary) h s 30% /0.4);

  &__thumb {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 16 / 9;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    width: 100%;
    padding-bottom: 20px;
    font-weight: 500;
  }

  &__title {
    font-size: 2.2rem;
    margin-bottom: 20px;
    line-height: 2.6rem;
  }

  &__role {
    font-size: 1.4rem;
    font-weight: var(--font-weight-regular);

    strong {
      font-weight: var(--font-weight-bold);
    }
  }

  &__description {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
  }

  &__techs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 1.4rem;

    li {
      padding: 4px 8px;
      background: hsl(from var(--color-secondary-lighter) h s l / 0.7);
      border-radius: var(--border-radius);
    }
  }
}
