@use 'tokens/breakpoints' as breakpoints;

:host {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  overflow: hidden;
  line-height: 2rem;
  padding: 20px;
  border-radius: 8px;
  color: var(--color-white);
  background: hsl(from var(--color-secondary) h s l / 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid hsl(from var(--color-secondary) h s 30% /0.4);
  height: 100%;
}


.project {
  &__thumb {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 16 / 9;
  }

  &__title {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  &__description {
    font-size: var(--text-sm);
    font-weight: 400;
    line-height: 24px;
  }

  &__techs {
    place-content: flex-start;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: var(--text-sm);

    li {
      max-height: 28px;
      padding: 4px 8px;
      background: hsl(from var(--color-secondary-lighter) h s l / 0.7);
      border-radius: var(--border-radius);
    }
  }
}

@media screen and (width > breakpoints.$bp-md ) {
  .project {
    &__techs {
      min-height: 92px;
    }
  }
}
