@use 'tokens/breakpoints' as breakpoints;

:host {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  overflow: hidden;
  line-height: 2rem;
  padding: 20px;
  border-radius: 8px;
  color: var(--color-text-primary);
  background: hsl(from var(--color-secondary) h s l / 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid hsl(from var(--color-secondary) h s 30% /0.4);
  height: 100%;
}


.project {
  &__thumb {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: top;
      aspect-ratio: 16 / 9;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgb(from var(--color-black) r g b / 0.7);
      z-index: 1;
      cursor: pointer;
      opacity: 0;
      transition: opacity .3s;
    }

    app-icon {
      position: absolute;
      width: 40px;
      height: 40px;
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity .3s, transform .2s;
      z-index: 2;
    }

    @media (hover: hover) and (pointer: fine)  {
      &:hover {
        &::after {
          opacity: 1;
        }

        app-icon {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &__title {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  &__description {
    font-size: var(--text-sm);
    font-weight: 400;
    line-height: 24px;
  }

  &__techs {
    place-content: flex-start;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: var(--text-sm);

    li {
      max-height: 28px;
      padding: 4px 8px;
      background: hsl(from var(--color-secondary-lighter) h s l / 0.7);
      border-radius: var(--border-radius);

      &:hover {
        background: hsl(from var(--color-secondary-lighter) h s calc(l + 10) / 0.7);
        cursor: pointer;
      }
    }
  }
}

@media screen and (width > breakpoints.$bp-md ) {
  .project {
    &__techs {
      min-height: 92px;
    }
  }
}
