<h3 class="project__title">
  {{ data().title }}
</h3>

<p class="project__description">
  {{ data().description }}
</p>

<div class="project__thumb">
  <img
    [ngSrc]="data().thumb.src"
    width="352"
    height="174"
    sizes="100vw"
    [alt]="data().thumb.alt"
  />

  <app-icon
    name="phosphorFrameCorners"
    [ariaLabel]="'home.projects.icons.expandIconAriaLabel' | translate"
  ></app-icon>
</div>

<ul class="project__techs">
  @for (tech of data().techs; track $index) {
    <li> {{ tech }} </li>
  }
</ul>
