.project {
  display: flex;
  flex-direction: column;
  gap: 18px 0;
  border-bottom: 1px solid var(--color-text-light);
  padding-bottom: 32px;

  &__thumb {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
  }

  &__title {
    font-size: 2.2rem;
  }

  &__role {
    font-size: 1.4rem;
    font-weight: 400;

    strong {
      font-weight: 900;
    }
  }

  &__description {
    font-size: 1.4rem;
  }
}
