<div class="project">
  <img
    class="project__thumb"
    [ngSrc]="data().thumb.src"
    width="352"
    height="198"
    sizes="100vw"
    [alt]="data().thumb.alt"
  >

  <div class="project__content">
    <strong class="project__title">
      {{ data().title }}
    </strong>

    <h3 class="project__role">
      <strong>
        {{ 'home.projects.role' | translate }}
      </strong>

      {{ data().role }}
    </h3>

    <p class="project__techs">
      <strong>
        {{ 'home.projects.topTechs' | translate }}
      </strong>

      {{ data().techs }}
    </p>

    <p class="project__description">
      {{ data().description }}
    </p>
  </div>
</div>
