.project {
  display: flex;
  flex-direction: column;
  gap: 18px 0;
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 32px;

  &__thumb {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
  }

  &__title {
    font-size: 2.2rem;
  }

  &__role {
    font-size: 1.4rem;
    font-weight: var(--font-weight-regular);

    strong {
      font-weight: var(--font-weight-bold);
    }
  }

  &__description {
    font-size: 1.4rem;
  }

  &__techs {
    font-size: 1.4rem;
  }
}
