@use 'mixins/background-pattern' as *;

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px var(--space-section-sm) 100px;
  background-color: var(--color-primary);

   @include background-pattern-light;
}

.title {
  font-size: var(--font-size-xxl);
  margin-bottom: 26px;
  text-align: center;
}

.paragraph {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  line-height: 30px;
}

app-contact-form {
  margin-top: 60px;
}

