<section
  id="contact-section"
  [aria-label]="'home.contact.meta.ariaLabel' | translate"
>
  <h2 class="title">
    {{ 'home.contact.title.lets' | translate }}
    <strong> {{ 'home.contact.title.together' | translate }} </strong>
  </h2>

  <p class="paragraph">
    {{ 'home.contact.wantBringToLife.doYou' | translate }}
    <strong> {{ 'home.contact.wantBringToLife.bring' | translate }} </strong>
    {{ 'home.contact.wantBringToLife.youHad' | translate }}
    <strong> {{ 'home.contact.wantBringToLife.giveThat' | translate }} </strong>
  </p>

  <p class="paragraph">
    {{ 'home.contact.workTogether.lets' | translate }}
    <strong> {{ 'home.contact.workTogether.andTurn' | translate }} </strong>
  </p>

  <app-contact-form />

  <div class="buttons buttons--social">
    <app-anchor
      [title]="'home.hero.socialMedia.linkedIn' | translate"
      [ariaLabel]="'home.hero.socialMedia.linkedIn' | translate"
      content=""
      variant="icon-flat"
      href="https://www.linkedin.com/in/chiquettocaio/"
      target="_blank"
    >
      <app-icon
        AnchorLeadingIcon
        name="ionLogoLinkedin"
        [ariaLabel]="'home.hero.socialMedia.linkedIn' | translate"
      />
    </app-anchor>

    <app-anchor
      [title]="'home.hero.socialMedia.codepen' | translate"
      [ariaLabel]="'home.hero.socialMedia.codepen' | translate"
      content=""
      variant="icon-flat"
      href="https://codepen.io/chiquettocaio"
      target="_blank"
    >
      <app-icon
        AnchorLeadingIcon
        name="ionLogoCodepen"
        [ariaLabel]="'home.hero.socialMedia.codepen' | translate"
      />
    </app-anchor>

    <app-anchor
      [title]="'home.hero.socialMedia.git' | translate"
      [ariaLabel]="'home.hero.socialMedia.git' | translate"
      content=""
      variant="icon-flat"
      href="https://github.com/chiquettocaio"
      target="_blank"
    >
      <app-icon
        AnchorLeadingIcon
        name="ionLogoGithub"
        [ariaLabel]="'home.hero.socialMedia.git' | translate"
      />
    </app-anchor>

    <app-anchor
      [title]="'home.hero.socialMedia.whatsapp' | translate"
      [ariaLabel]="'home.hero.socialMedia.whatsapp' | translate"
      content=""
      variant="icon-flat"
      href="https://wa.me/11959292853?text=Hey Caio, I just saw your portfolio and I got something for you."
      target="_blank"
    >
      <app-icon
        AnchorLeadingIcon
        name="ionLogoWhatsapp"
        [ariaLabel]="'home.hero.socialMedia.whatsapp' | translate"
      />
    </app-anchor>
  </div>
</section>
