@use 'mixins/background-pattern' as bgPatterns;
@use 'tokens/breakpoints' as breakpoints;

:host {
  display: block;
  @include bgPatterns.background-pattern-light;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--space-section-vertical) var(--space-section-horizontal) 100px;
  color: var(--color-text-general);
}

.title {
  font-size: var(--text-5xl);
  margin-bottom: 26px;
  text-align: center;
}

.paragraph {
  font-size: var(--text-xl);
  margin-bottom: 20px;
  text-align: center;
  line-height: 30px;
  max-width: 450px;
  align-self: center;
}

app-contact-form {
  margin: 30px 0;
  max-width: 600px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  &--social {
    gap: 12px;

    app-anchor {
      width: 32px;
      height: 32px;
      transition: transform .2s;
      color: var(--color-text-general);

      &:has(a:focus) {
        transform: scale(1.2);
        color: var(--color-details-bg);
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          transform: scale(1.2);
          color: var(--color-details-bg);
        }
      }
    }
  }
}

@media screen and (width > breakpoints.$bp-md) {
  section {
    max-width: 920px;
  }
}
