.form-control {
  position: relative;
  display: flex;
  flex-direction: column;

  &__label {
    position: absolute;
    left: 16px;
    top: 20px;
    font-weight: var(--font-weight-regular);
    font-size: 1.6rem;
    transition: all .2s;
    line-height: 12px;
  }

  &__textarea {
    width: 100%;
    height: 150px;
    min-height: 150px;
    padding: 16px;
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: var(--font-weight-regular);
    border: 1px solid var(--color-gray-medium);
    border-radius: var(--border-radius);
    resize: vertical;

    &:focus-visible {
      outline-color: var(--color-secondary);
    }
  }

  &__error {
    font-size: 1.2rem;
    color: var(--color-danger);
    height: 14px;
    margin-top: 2px;
    text-align: right;
    font-weight: var(--font-weight-medium);
  }

  &:has(textarea:focus-visible) .form-control__label,
  &:has(textarea:not(:placeholder-shown)) .form-control__label {
    left: 0;
    top: -15px;
    font-size: 1.4rem;
    font-weight: var(--font-weight-medium);
  }
}

:host {
  &.ng-valid .form-control__textarea {
    border-color: var(--color-success);
  }

  &.ng-touched.ng-invalid {
    .form-control {
      &__textarea {
        border-color: var(--color-danger);
      }

      &__label {
        color: var(--color-danger);
      }
    }
  }
}
