.form-control {
  position: relative;
  display: flex;
  flex-direction: column;

  &__label {
    position: absolute;
    left: 16px;
    top: 20px;
    font-weight: var(--font-weight-regular);
    font-size: var(--text-base);
    transition: all .2s;
    line-height: 12px;
    color: var(--color-input-text);
  }

  &__textarea {
    width: 100%;
    height: 150px;
    min-height: 150px;
    padding: 16px;
    background-color: var(--color-input-bg);
    color: var(--color-input-text);
    font-family: var(--font-family);
    font-size: var(--text-base);
    font-weight: var(--font-weight-regular);
    border: 1px solid var(--color-gray-medium);
    border-radius: var(--border-radius);
    resize: vertical;

    &:focus {
      outline-color: var(--color-secondary);
    }
  }

  &__error {
    font-size: var(--text-xs);
    color: var(--color-danger);
    height: 14px;
    margin-top: 2px;
    text-align: right;
    font-weight: var(--font-weight-medium);
    opacity: 0;
    transition: height .1s, opacity .1s;

    &--has-error {
      height: 22px;
      opacity: 1;
    }
  }

  &:has(textarea:focus-visible) .form-control__label,
  &:has(textarea:not(:placeholder-shown)) .form-control__label {
    left: 0;
    top: -15px;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
  }
}

:host {
  &.ng-valid .form-control__textarea {
    border-color: var(--color-success);
  }

  &.ng-touched.ng-invalid {
    .form-control {
      &__textarea {
        border-color: var(--color-danger);
      }

      &:not(:has(:focus)) {
        label {
          color: var(--color-danger);
        }
      }
    }
  }
}
