@use 'mixins/background-pattern' as bgPatterns;
@use 'tokens/breakpoints' as breakpoints;

:host {
  display: block;
  @include bgPatterns.background-pattern-light;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 120px var(--space-section-sm) 50px;
  color: var(--color-black);
}

.image {
  width: 100%;
  height: 100%;
  max-width: 160px;
  max-height: 160px;
  border-radius: 50%;
  object-fit: contain;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px hsl(from var(--color-black) h s l / 0.6);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-regular);
  line-height: 35px;
  margin-bottom: 15px;

  strong {
    span {
      text-decoration: underline;
    }
  }
}

.paragraph {
  font-size: var(--font-size-paragraph);
  text-align: center;
  line-height: 26px;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  &--social {
    gap: 12px;
    margin-bottom: 40px;

    app-anchor {
      width: 28px;
      height: 28px;
      transition: transform .2s;
      color: var(--color-black);

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  app-button {
    flex-shrink: 0;
  }
}

@media screen and (width > breakpoints.$bp-sm) {
  .paragraph {
    width: 450px;
  }
}
