section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: var(--space-section-sm);
}

.image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: var(--color-gray-medium);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-dark);
  font-size: var(--font-size-title);
  letter-spacing: 1px;

  strong {
    font-size: var(--font-size-paragraph);
  }
}

.paragraph {
  font-size: var(--font-size-paragraph);
  text-align: center;
  line-height: 26px;
}
