@import 'mixins/background-pattern';

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px 0;
  width: 100%;
  padding: 120px var(--space-section-sm) 60px;

  @include background-pattern-light;
}

.image {
  width: 100%;
  height: 100%;
  max-width: 160px;
  max-height: 160px;
  border-radius: 50%;
  object-fit: contain;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--color-text-dark);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-regular);
  line-height: 35px;

  strong {
    span {
      text-decoration: underline;
    }
  }
}

.paragraph {
  font-size: var(--font-size-paragraph);
  text-align: center;
  line-height: 26px;
}
