<section
  id="hero-section"
  [aria-label]="'home.hero.meta.ariaLabel' | translate"
>
  <div class="image"></div>

  <h1 class="title">
    {{ 'home.hero.title.hello' | translate }}

    <strong>
      {{ 'home.hero.title.front' | translate }}
      <span> {{ 'home.hero.title.engineer' | translate }} </span>
    </strong>

    {{ 'home.hero.title.before' | translate }}
  </h1>

  <p class="paragraph">
    {{ 'home.hero.presentation.hey' | translate }}
    <strong> {{ 'home.hero.presentation.caio' | translate }} </strong>
    {{ 'home.hero.presentation.and' | translate }}
    <strong> {{ 'home.hero.presentation.front' | translate }} </strong>
    {{ 'home.hero.presentation.passionate' | translate }}
    <strong> {{ 'home.hero.presentation.clean' | translate }} </strong>
  </p>

  <app-button
    [title]="'home.hero.resumeCTA.title' | translate"
    [content]="'home.hero.resumeCTA.content' | translate"
    [ariaLabel]="'home.hero.resumeCTA.ariaLabel' | translate"
  />
</section>
