<section
  id="hero-section"
  [aria-label]="'home.hero.meta.ariaLabel' | translate"
>
  <img
    class="image"
    ngSrc="images/me.png"
    width="160"
    height="160"
    sizes="100vw"
    alt="Me"
  >

  <h1 class="title">
    {{ 'home.hero.title.hello' | translate }}

    <strong>
      {{ 'home.hero.title.front' | translate }}
      <span> {{ 'home.hero.title.engineer' | translate }} </span>
    </strong>

    {{ 'home.hero.title.before' | translate }}
  </h1>

  <p class="paragraph">
    {{ 'home.hero.presentation.hey' | translate }}
    <strong> {{ 'home.hero.presentation.caio' | translate }} </strong>
    {{ 'home.hero.presentation.and' | translate }}
    <strong> {{ 'home.hero.presentation.front' | translate }} </strong>
    {{ 'home.hero.presentation.passionate' | translate }}
    <strong> {{ 'home.hero.presentation.clean' | translate }} </strong>
  </p>

  <div class="buttons">
    <app-anchor
      [title]="'home.hero.viewMyWorkCta.title' | translate"
      [content]="'home.hero.viewMyWorkCta.content' | translate"
      [ariaLabel]="'home.hero.viewMyWorkCta.ariaLabel' | translate"
      variant="button-primary"
      href="#projects-section"
    >
      <app-icon
        AnchorTrailingIcon
        name="phosphorArrowRight"
        [ariaLabel]="'home.hero.viewMyWorkCta.iconAriaLabel' | translate"
      />
    </app-anchor>

    <app-anchor
      [title]="'home.hero.downloadResumeCta.title' | translate"
      [content]="'home.hero.downloadResumeCta.content' | translate"
      [ariaLabel]="'home.hero.downloadResumeCta.ariaLabel' | translate",
      variant="button-secondary"
      href="/docs/caio-chiquetto-resume.pdf"
      download
    >
      <app-icon
        AnchorTrailingIcon
        name="phosphorDownloadSimple"
        [ariaLabel]="'home.hero.downloadResumeCta.iconAriaLabel' | translate"
      />
    </app-anchor>
  </div>
</section>
