@use 'mixins/background-pattern' as bgPatterns;
@use 'tokens/breakpoints' as breakpoints;

:host {
  display: block;
  @include bgPatterns.background-pattern-light;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 120px var(--space-section-horizontal) var(--space-section-vertical);
  color: var(--color-black);
}

.image {
  width: 100%;
  height: 100%;
  max-width: 160px;
  max-height: 160px;
  border-radius: 50%;
  object-fit: contain;
  margin-bottom: 12px;
  box-shadow: 0px 0px 10px 0px hsl(from var(--color-black) h s l / 0.6);
}

.headline {
  text-align: center;
  font-size: 3.2rem;
  font-weight: var(--font-weight-regular);
  line-height: 40px;
  margin-bottom: 24px;
  max-width: 350px;

  strong {
    span {
      text-decoration: underline;
    }
  }
}

.paragraph {
  font-size: var(--font-size-paragraph);
  text-align: center;
  line-height: 26px;

  &--eyebrow {
    font-size: 1.4rem;
    width: 314px;
    margin-bottom: 8px;
  }

  &--subheadline {
    margin-bottom: 48px;
    font-size: 1.6rem;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  &--social {
    gap: 12px;
    margin-bottom: 32px;

    app-anchor {
      width: 28px;
      height: 28px;
      transition: transform .2s;
      color: var(--color-black);

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  app-button {
    flex-shrink: 0;
  }
}

@media screen and (width > breakpoints.$bp-sm) {
  .paragraph {
    width: 450px;
  }
}
