<div class="toasts">
  @for (toast of toasts(); track toast.id) {
    <ng-container
      [ngTemplateOutlet]="toastTemplate"
      [ngTemplateOutletContext]="{ toast }"
    />
  }
</div>

<ng-template
  #toastTemplate
  let-toast="toast"
>
    <div
      class="toast"
      [class.toast--error]="toast.type === 'error'"
      animate.enter="enter-animation"
      animate.leave="leave-animation"
    >
      <app-icon
        class="toast__icon"
        [name]="toast.type === 'error'
          ? 'phosphorXCircle'
          : 'phosphorCheck'"
        [ariaLabel]="toast.messageKey | translate"
      />

      <div class="toast__content">
        <strong> {{ toast.titleKey | translate }} </strong>
        <span> {{ toast.messageKey | translate }} </span>
      </div>

      <app-button
        class="toast__close"
        variant="icon-flat"
        content=""
        [ariaLabel]="toast.messageKey | translate"
        (clicked)="close(toast.id)"
      >
        <app-icon
          ButtonLeadingIcon
          name="phosphorX"
          [ariaLabel]="toast.messageKey | translate"
        />
      </app-button>

      <div class="toast__timer"> </div>
    </div>
</ng-template>
