.app-anchor {
  color: var(--color-black);

  &--button-primary,
  &--button-secondary,
  &--icon-as-button-primary,
  &--icon-as-button-secondary,
  &--icon-flat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
    padding: 15px;
    height: 35px;
    width: 100%;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-button);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: var(--border-radius);
    transition: all .2s;
    cursor: pointer;
    text-decoration: none;
  }

  &--button-primary,
  &--button-secondary,
  &--icon-as-button-primary,
  &--icon-as-button-secondary {
    &:active {
      box-shadow: 0 0 0;
      transform: translateY(2px);
    }
  }

  &--button-primary {
    background: var(--color-secondary);
    color: var(--color-primary);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--color-secondary-hover);
      }
    }
  }


  &--button-secondary {
    border: 1px solid;
    background-color: var(--color-primary);
    color: var(--color-secondary);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--color-primary-hover);
      }
    }
  }

  &--icon-as-button-primary,
  &--icon-as-button-secondary,
  &--icon-flat {
    width: 100%;
    height: 100%;
    padding: 0px;
    gap: 0;
    background: var(--color-secondary);
    color: var(--color-primary);
  }

  &--icon-as-button-secondary {
    border: 1px solid;
    background: var(--color-primary);
    color: var(--color-secondary);
  }

  &--icon-flat {
    flex-direction: column;
    background: none;
    color: inherit;
    box-shadow: none;
  }

  &--large {
    padding: 25px 15px;
    font-size: var(--font-size-button-large);
  }

  &__content {
    line-height: 14px;
  }

  &:not(&--icon-flat)::ng-deep {
    [AnchorLeadingIcon],
    [AnchorTrailingIcon] {
      width: 22px;
      height: 22px;
    }
  }
}
