<a
  class="app-anchor"
  [class.app-anchor--button-primary]="variant() === 'button-primary'"
  [class.app-anchor--button-secondary]="variant() === 'button-secondary'"
  [class.app-anchor--icon-as-button-primary]="variant() === 'icon-as-button-primary'"
  [class.app-anchor--icon-as-button-secondary]="variant() === 'icon-as-button-secondary'"
  [class.app-anchor--icon-flat]="variant() === 'icon-flat'"
  [class.app-anchor--large]="size() === 'large'"
  [title]="title()"
  [href]="href()"
  [aria-label]="ariaLabel()"
  [attr.download]="download() ? '' : null"
  [attr.target]="target()"
  rel="noopener noreferrer"
>
  <ng-content select="[AnchorLeadingIcon]" />
  <span class="app-anchor__content"> {{ content() }} </span>
  <ng-content select="[AnchorTrailingIcon]"/>
</a>
