.app-anchor {
  color: var(--color-black);

  &--button-primary,
  &--button-secondary,
  &--icon-as-button-primary,
  &--icon-as-button-secondary,
  &--icon-flat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
    padding: 15px;
    height: 35px;
    width: 100%;
    font-weight: var(--font-weight-medium);
    font-size: var(--text-sm);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: var(--border-radius);
    transition: all .2s;
    cursor: pointer;
    text-decoration: none;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &--button-primary,
  &--button-secondary,
  &--icon-as-button-primary,
  &--icon-as-button-secondary {
    &:active {
      box-shadow: 0 0 0;
      transform: translateY(2px);
    }
  }

  &--button-primary {
    background-color: var(--color-cta-bg-primary);
    color: var(--color-text-primary);
  }


  &--button-secondary {
    border: 1px solid;
    background-color: var(--color-cta-bg-secondary);
    color: var(--color-text-secondary);
  }

  &--icon-as-button-primary,
  &--icon-as-button-secondary,
  &--icon-flat {
    width: 100%;
    height: 100%;
    padding: 0px;
    gap: 0;
    background-color: var(--color-cta-bg-primary);
    color: var(--color-text-primary);
  }

  &--icon-as-button-secondary {
    border: 1px solid;
    background: var(--color-cta-bg-secondary);
    color: var(--color-text-secondary);
  }

  &--icon-flat {
    flex-direction: column;
    background: none;
    color: inherit;
    box-shadow: none;
  }

  &--large {
    padding: 25px 15px;
    font-size: var(--text-base);
  }

  &__content {
    line-height: 14px;
  }

  &:not(&--icon-flat)::ng-deep {
    [AnchorLeadingIcon],
    [AnchorTrailingIcon] {
      width: 22px;
      height: 22px;
    }
  }
}
