@use 'mixins/animations' as animations;
@use 'tokens/breakpoints' as breakpoints;

@include animations.fade-in;
@include animations.fade-out;

.gallery-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(from var(--color-black) r g b / .7);
  padding: 20px;
  z-index: 2;
}

.gallery {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  max-width: 1500px;

  &__close {
    position: absolute;
    right: 0;
    top: -40px;

    app-icon {
      width: 30px;
      height: 30px;
      color: var(--color-text-primary);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}

.fade-in {
  animation: fade-in .3s;
}

.fade-out {
  animation: fade-out .3s;
}
