:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(from var(--color-black) r g b / 0.5);
  z-index: 2;
}

.loader {
  width: 25px;
  aspect-ratio: 1;
  background: hsl(from var(--color-secondary) h s calc(l + 50));
  animation: l1 1.5s infinite;
}

@keyframes l1 {
  0%,
  100%{transform:translate(-30px,-30px);box-shadow:  0     0    hsl(from var(--color-secondary) h s calc(l + 20)), 0     0    var(--color-secondary); }
  40% {transform:translate( 30px, 30px);box-shadow: -10px -10px hsl(from var(--color-secondary) h s calc(l + 20)),-20px -20px var(--color-secondary); }
  50% {transform:translate( 30px, 30px);box-shadow:  0     0    hsl(from var(--color-secondary) h s calc(l + 20)), 0     0    var(--color-secondary); }
  90% {transform:translate(-30px,-30px);box-shadow:  10px  10px hsl(from var(--color-secondary) h s calc(l + 20)), 20px  20px var(--color-secondary); }
}
