@use './styles/index';

html, body, main {
  width: 100dvw;
  overflow-x: hidden;
  font-family: var(--font-family);
  color: var(--color-black);
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}
