@mixin slide-in-top-fade-in () {
  @keyframes slide-in-top-fade-in {
    from {
      opacity: 0;
      transform: translateY(0);
    }

    to {
      opacity: 1;
      transform: translateY(20px);
    }
  }
}

@mixin slide-in-top-fade-out () {
  @keyframes slide-in-top-fade-out {
    from {
      opacity: 1;
      transform: translateY(20px);
    }

    to {
      opacity: 0;
      transform: translateY(0);
    }
  }
}

@mixin progress-bar-fill () {
  @keyframes progress-bar-fill {
    from {
      transform: scaleX(0)
    }

    to {
      transform: scaleX(1)
    }
  }
}


