@mixin slide-in-top-fade-in ($x: 0, $y: 0) {
  @keyframes slide-in-top-fade-in {
    from {
      opacity: 0;
      transform: translateY(0);
    }

    to {
      opacity: 1;
      transform: translateY(20px);
    }
  }
}

@mixin slide-in-top-fade-out ($x: 0, $y: 0) {
  @keyframes slide-in-top-fade-out {
    from {
      opacity: 1;
      transform: translateY(20px);
    }

    to {
      opacity: 0;
      transform: translateY(0);
    }
  }
}

