@mixin background-pattern-light {
  background-color: var(--color-primary);

  @supports (color: hsl(from white h s l)) {
    background:
      linear-gradient(135deg,#0000 20.5%,var(--color-primary) 0 29.5%,#0000 0) 0 16.5px,
      linear-gradient( 45deg,#0000 8%,var(--color-primary) 0 17%, #0000 0 58%) 33px 0,
      linear-gradient(135deg,#0000 8%,var(--color-primary) 0 17%, #0000 0 58%,var(--color-primary) 0 67%,#0000 0),
      linear-gradient( 45deg,#0000 8%,var(--color-primary) 0 17%, #0000 0 58%,var(--color-primary) 0 67%,#0000 0 83%,var(--color-primary) 0 92%,#0000 0),
      hsl(from var(--color-primary) h s calc(l - 2) / 1);
    background-size: 66px 66px;
  }
}

@mixin background-pattern-dark {
  background-color: var(--color-secondary);

  @supports (color: hsl(from white h s l)) {
    background:
      linear-gradient(135deg,#0000 20.5%,var(--color-secondary) 0 29.5%,#0000 0) 0 16.5px,
      linear-gradient( 45deg,#0000 8%,var(--color-secondary) 0 17%, #0000 0 58%) 33px 0,
      linear-gradient(135deg,#0000 8%,var(--color-secondary) 0 17%, #0000 0 58%,var(--color-secondary) 0 67%,#0000 0),
      linear-gradient( 45deg,#0000 8%,var(--color-secondary) 0 17%, #0000 0 58%,var(--color-secondary) 0 67%,#0000 0 83%,var(--color-secondary) 0 92%,#0000 0),
      hsl(from var(--color-secondary) h s calc(l - 2) / 1);
    background-size: 66px 66px;
  }
}
