.resume-section {
  width: 100%;
  margin-top: 30px;

  &__heading {
    display: flex;
    align-items: center;
    gap: 0 14px;
  }

  &__content {
    position: relative;
    display: flex;
    gap: 0 32px;
    padding-left: 54px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-details-bg);
    color: var(--color-details-text);
    border-radius: var(--border-radius);
    box-shadow: -4px 4px 4px rgba(0 0 0 / 0.20);

    ::ng-deep {
      ng-icon {
        width: 26px;
        height: 26px;
      }
    }
  }

  &__title {
    font-size: 2.2rem;
  }
}

.items {
  padding-bottom: 20px;
}

.item {
  position: relative;
  margin-top: 20px;
  left: 0;

  &__path,
  &__untook-path {
    position: absolute;
    top: 0;
    left: -42px;
    width: 10px;
    height: calc(100% + 28px);
    border-right: 2px solid var(--color-details-bg);
    transform-origin: top center;
  }

  &__untook-path {
    border-right: 2px dashed var(--color-gray-medium);
  }

  &__title {
    position: relative;
    font-size: var(--text-lg);
    display: block;

    &-marker {
      position: absolute;
      top: -1px;
      left: -44px;
      width: 22px;
      height: 22px;
      background-color: hsl(from var(--color-gray-medium) h s calc(l - 20));
      border-radius: 50%;
      border: 6px solid;
      border-color: var(--color-gray-medium);
      transition: border-color .2s, background-color .2s;

      &--colorful {
        border-color: hsl(from var(--color-details-bg) h s calc(l + 40));
        background-color: var(--color-details-bg)
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 6px 0;
    margin: 12px 0 0;
  }

  &__responsibilities {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    padding-left: 18px;
    line-height: 20px;

    li {
      font-size: var(--text-sm);
    }
  }
}

.item-row {
  display: flex;
  gap: 0 10px;
  font-size: var(--text-sm);

  &__icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;

    ::ng-deep {
      ng-icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__content {
    align-self: flex-end;
  }
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 12px 0;
  max-width: 300px;

  &__tech {
    padding: 4px 8px;
    background-color: var(--color-details-bg);
    color: var(--color-details-text);
    border-radius: var(--border-radius);
    font-size: var(--text-sm);
    cursor: pointer;

    &:hover {
      background-color: hsl(from var(--color-details-bg) h s calc(l - 10));
    }
  }
}
